@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  max-width: 100vw;
}

html{
   scroll-behavior: smooth;
}
body{
background-color:#F5F5DC;
}
/*Logo Style*/
#logo img{
    width:60px;
    height:55px;    
}

/*Whole plants style*/
#plants{
    width:100vw;
    height:10vh;
    display: flex;
    justify-content: space-between;
    background-color: #138613;   
    text-align: center;
    position:sticky;
    top:0px;
}

/*Shop Name Style*/
 #Sname{
   display:inline-block;
    height:20%;
    color:white;
    padding-top:12px;
    padding-right:400px ;
    font-family:Roboto;
    font-weight:700;
    font-size:20px;
    user-select: none;
}

h1 #Sname{
    padding-top:30px; 
}
/*Navbar Style*/
#Navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
}


#Navbar ul{
   display:flex;
   
}
#Navbar li{
    font-family:Roboto;
    font-weight:100;
    font-size:15px;
    list-style: none;
    padding-left:5px;
    padding:5px;
    border-radius: 20px 0px 20px 0px;
}
 #Navbar li a{
    padding-left:15px;
    text-decoration: none;
    padding-right:30px;
    display:inline-block;
    color:white;
    font-size: 19px;
 }

 #Navbar li:hover{
    background-color:rgb(116, 179, 100);
 }

 #Navbar li a:hover{
    color:black;
 }

/*Quotes Style*/
 h2{
    font-family:Roboto;
    font-weight: 100;
    font-size: 25px;
    color:#024102;
    padding-left:430px;
    padding-top:10px;
 }

 /*Banner Style*/
#banner{
   background-image: url('Plants Media/Pʟᴀɴᴛs ʙᴀɴɴᴇʀ.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

 #banner img{
   width:100%;
   height:800px; 
   margin-top:0px;             
 }

 #banner input{
    margin-top:30px;
    margin-left: 200px;
    margin-bottom:20px;
    border:3px solid green;
    }

 #banner input[type="text"]{
    padding-left:35px;
   padding-top:10px;
   padding-bottom:10px;
   border-radius:15px 0px 15px 0px;
   align-content: center;
  box-shadow: 0 4px 11px rgba(0,0,0,0.5);
 }

 #banner input:hover{
   text-shadow: 0 0 5px #0fda0f,0 0 25px #0fda0f,0 0 50px #0fda0f,0 0 100px #0fda0f;
 }

 /*Welcome page Quote Style*/
 h3{
   font-family:Roboto;
    font-weight: 100;
    font-size: 25px;
    color:rgb(82, 116, 14);
    padding-left:418px;
    padding-top:10px;
 }

 h3:hover{
 /*text-shadow: 0 0 5px #0fda0f,0 0 25px #0fda0f,0 0 50px #0fda0f,0 0 100px #0fda0f;*/
 }

 /*Home page Style*/
 #home{
   width:100%;
   display: flex;
   flex-direction:row;
   justify-content: space-between;
   align-items: center;
 }

 #home img {
   border-radius:10px;
   padding-top: 15px;
   width:400px;
   height:300px;
   padding-left:10x;
   }

   /*Leaf images Style*/
.leafyhome h3{
      padding-top:50px;
     margin-left: 45px;
     padding-bottom: 10px;
      
   }


   #leafy img:hover{
       transform: scale(1.0) translateY(-10px);
      /*transform: translateY(20px);*/
      transition: all 0.2s linear;

   }

   /*Leaf1*/
#leafy1{
   display: flex;
   flex-direction: row;
   padding-left: 100px;
}
#leafy1 img {
   width:250px;
   height:250px;
   padding-top: 20px;
   padding-left:15px;
   /*box-shadow:0 4px 10px rgba(0,0,0,0.2);*/
   
   }
/*1st Leaves images Details*/
.leafdet {
   font-family:cursive;
     padding-bottom:20px;
     padding-left:40px;
      color:rgb(161, 120, 15);
      font-size: 20px;
}

.box{
   border:1px solid black;
   border-radius: 12px;
   height:67vh;
   margin-top: 20px;
   margin-left:60px;
   /*box-shadow: 0 2px 6px rgba(0,0,0,0.1);*/
   background: #fff;
   width:50vh;
   padding:5px;
   padding-bottom: 5px;
}

/*Leaf2*/
#leafy2{
   display: flex;
   flex-direction: row;
    padding-left: 100px;
}

#leafy2 img{
   width:250px;
   height:250px;
   padding-top:20px;
   padding-left:15px;
   
}

/*Leaf3*/
#leafy3{
   display: flex;
   flex-direction: row;
    padding-left: 100px;
}
#leafy3 img{
   width:250px;
   height:250px;
   padding-top: 20px;
   padding-left:15px;
}

/*Leaf4*/
#leafy4{
   display: flex;
   flex-direction: row;
    padding-left: 100px;
}
#leafy4 img{
    width:250px;
   height:250px;
   padding-top: 20px;
   padding-left:15px; 
}

#care{
   border:3px solid green;
   padding:10px;
   margin:10px;
   border-radius:10px;
   margin-bottom: 30px;
}

 .detail p{
   font-family: cursive;
   padding-bottom:20px;
     padding-left:50px;
      font-size: 15px;
      transition: all 0.1s ease-in-out;
}


/*.detail p:hover{
   transform: scale(0.9);
   border-radius: 10px;
   font-size: 20px;
}*/
 .detail h4{
   font-family:Roboto;
   color:rgb(82, 116, 14);
   font-size:20px;
   font-weight:400;
}

#Foot{
   /*display: flex;*/
   background-color: black;
   color: white;
   justify-content: space-around;
   width: 100%;
   height:350px;
   padding-top: 20px;
   padding-right: 0px;
   margin:10px;
}

.Grow {
   font-family:Roboto;
   font-size:20px;
   font-weight: 100;
   color:rgb(82, 116, 14);
}
.leafyhome h3{
  padding-top: 80px;
   padding-left: 500px;
  margin-top: -50px;
  font-weight: 500;
}
#footer {
   display: flex;
   justify-content:space-between;
   text-align: center;
   padding-top: 25px;
   padding-left:10pxx;
}

/*.contact{
   display:flex;
  padding-top: 20px;
 margin:10px;
 justify-content: space-between;
 padding-right: 50px;

}*/
 .contact li{
   list-style: none;
  padding-right:50px;
  justify-content:center;
  text-align:left;
  margin-left: 10px;
  padding-top: 10px;
 }

.contact h4{
   color:rgb(82, 116, 14);
   font-size:20px;
   font-weight:600;
   font-family: cursive;
 }
.contact li a{
   font-family: cursive;
   text-decoration: none;
   color:white;
}

.contact p{
   font-family: cursive;
   justify-content:center;
   text-align: left;
   padding-top: 10px;
   padding-left:30px;
   padding-bottom:10px;
   line-height:40px;
}
.copy
{
   padding-top:15px;
   padding-left:450px;
   
}





/*#Foot .footer{
   margin-top:30px;
   max-height:350px;
   width:100vw;
   background-color: rgb(44, 146, 44);

}

.footer h3, .footer h4{
   padding-left: 10px;
   color:white;
   /*display: inline-block;*/
/*}

 .links li a{
  text-decoration: none;
  color:rgb(158, 68, 68);
  font-family: cursive;
  font-weight:15px;
  font-size:bold;
  line-height:1px;
  display: inline-block;
 }

 .links h4{
   padding-left: 1100px;
   margin-top: 0;
   color:rgb(192, 30, 30);
   font-family: lobster;
   letter-spacing: 1px;
   font-size: 15px;
   font-weight:1px;
 }

 #Foot{
  display: flex;            
  justify-content: space-between;
  align-items: flex-start;   
  flex-wrap: wrap;       
 }
 #Foot .link{
   padding-left: 1150px;
   margin-top: 0;
   }
#contact ul{
   list-style: none;
   padding-left:10px;
   margin-bottom: 40px;
}

#contact .details
   {
        color:white;
        margin: 6px 0;
        font-family: cursive;
        font-size: 15px;
        text-align: left; 
        max-height: fit-content;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
        line-height:20px;
   }*/

   
